<app-navbar></app-navbar>
<!-- /main navbar -->


<!-- Page container -->
<div class="page-container">

  <!-- Page content -->
  <div class="page-content">

    <!-- Main sidebar -->
    <!--<div class="sidebar sidebar-main">-->
      <!--<div class="sidebar-content">-->

        <!--&lt;!&ndash; Main navigation &ndash;&gt;-->
        <!--<app-sidebar></app-sidebar>-->
        <!--&lt;!&ndash; /main navigation &ndash;&gt;-->

      <!--</div>-->
    <!--</div>-->
    <!-- /main sidebar -->


    <!-- Main content -->
    <div class="content-wrapper">

      <!-- Page header -->

      <router-outlet></router-outlet>

      <!--<div class="content">-->
        <!--&lt;!&ndash; Footer &ndash;&gt;-->
        <!--<app-footer></app-footer>-->
        <!--&lt;!&ndash; /footer &ndash;&gt;-->

      <!--</div>-->
      <!-- /content area -->

    </div>
    <!-- /main content -->

  </div>
  <!-- /page content -->

</div>
<!-- /page container -->
