<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <a class="navbar-brand" routerLink="/home"><img src="assets/images/logo.png" alt=""></a>

    <ul class="nav navbar-nav visible-xs-block">
      <!--<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>-->
      <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
    </ul>
  </div>

  <div class="navbar-collapse collapse" id="navbar-mobile">
    <ul class="nav navbar-nav">
      <!--<li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>-->

    </ul>


    <ul class="nav navbar-nav navbar-right">
      <li class="li-hover" routerLinkActive="active"><a routerLink="/home"><i class="icon-home2 mt-icon"></i> Home</a></li>
      <li class="li-hover" routerLinkActive="active"><a routerLink="/auth" *ngIf="!isLogged">Sign In</a></li>
      <li class="dropdown li-hover" routerLinkActive="active" *ngIf="isLogged">
        <a class="dropdown-toggle" data-toggle="dropdown">
          <i class="icon-newspaper mt-icon"></i> Events
          <span class="caret"></span>
        </a>

        <ul class="dropdown-menu">
          <li class="li-hover"><a routerLink="/events"> <i class="icon-ticket"></i>My events</a></li>
          <li class="li-hover"><a > <i class="icon-eye-plus"></i>Add event</a></li>
        </ul>
      </li>
      <li class="li-hover dropdown language-switch">
        <a class="dropdown-toggle" data-toggle="dropdown">
          <img src="assets/images/flags/gb.png" class="position-left" alt="">
          English
          <span class="caret"></span>
        </a>

        <ul class="dropdown-menu">
          <li><a class="deutsch"><img src="assets/images/flags/de.png" alt=""> Deutsch</a></li>
          <li><a class="ukrainian"><img src="assets/images/flags/ua.png" alt=""> Українська</a></li>
          <li><a class="english"><img src="assets/images/flags/gb.png" alt=""> English</a></li>
          <li><a class="espana"><img src="assets/images/flags/es.png" alt=""> España</a></li>
          <li><a class="russian"><img src="assets/images/flags/ru.png" alt=""> Русский</a></li>
        </ul>
      </li>

      <li class="dropdown li-hover" *ngIf="isLogged">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="icon-bubbles4"></i>
          <span class="visible-xs-inline-block position-right">Notifications</span>
          <span class="badge bg-warning-400">2</span>
        </a>

        <div class="dropdown-menu dropdown-content width-350">
          <div class="dropdown-content-heading">
            Notifications
            <ul class="icons-list">
              <li><a href="#"><i class="icon-compose"></i></a></li>
            </ul>
          </div>

          <ul class="media-list dropdown-content-body">
            <li class="media">
              <div class="media-left">
                <img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                <span class="badge bg-danger-400 media-badge">5</span>
              </div>

              <div class="media-body">
                <a href="#" class="media-heading">
                  <span class="text-semibold">James Alexander</span>
                  <span class="media-annotation pull-right">04:58</span>
                </a>

                <span class="text-muted">who knows, maybe that would be the best thing for me...</span>
              </div>
            </li>

            <li class="media">
              <div class="media-left">
                <img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                <span class="badge bg-danger-400 media-badge">4</span>
              </div>

              <div class="media-body">
                <a href="#" class="media-heading">
                  <span class="text-semibold">Margo Baker</span>
                  <span class="media-annotation pull-right">12:16</span>
                </a>

                <span class="text-muted">That was something he was unable to do because...</span>
              </div>
            </li>

            <li class="media">
              <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
              <div class="media-body">
                <a href="#" class="media-heading">
                  <span class="text-semibold">Jeremy Victorino</span>
                  <span class="media-annotation pull-right">22:48</span>
                </a>

                <span class="text-muted">But that would be extremely strained and suspicious...</span>
              </div>
            </li>

            <li class="media">
              <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
              <div class="media-body">
                <a href="#" class="media-heading">
                  <span class="text-semibold">Beatrix Diaz</span>
                  <span class="media-annotation pull-right">Tue</span>
                </a>

                <span class="text-muted">What a strenuous career it is that I've chosen...</span>
              </div>
            </li>

            <li class="media">
              <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
              <div class="media-body">
                <a href="#" class="media-heading">
                  <span class="text-semibold">Richard Vango</span>
                  <span class="media-annotation pull-right">Mon</span>
                </a>

                <span class="text-muted">Other travelling salesmen live a life of luxury...</span>
              </div>
            </li>
          </ul>

          <div class="dropdown-content-footer">
            <a href="#" data-popup="tooltip" title="All messages"><i class="icon-menu display-block"></i></a>
          </div>
        </div>
      </li>

      <li class="dropdown dropdown-user li-hover" *ngIf="isLogged">
        <a class="dropdown-toggle" data-toggle="dropdown">
          <img src="assets/images/ui/user.png" alt="">
          <span>Daniel</span>
          <i class="caret"></i>
        </a>

        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#"><i class="icon-coins"></i> Purchases</a></li>
          <li><a href="#"><span class="badge bg-teal-400 pull-right">58</span> <i class="icon-comment-discussion"></i>
            Notifications</a></li>
          <li class="divider"></li>
          <li><a routerLink="/profile"><i class="icon-cog5"></i> Profile settings</a></li>
          <li (click)="logout()"><a routerLink="/home"><i class="icon-switch2"></i> Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
