<div class="row mt-15">
  <div class="col-lg-3 col-md-6">
    <div class="thumbnail no-padding">
      <div class="thumb">
        <img src="assets/images/events/event1.jpg" alt="">
        <div class="caption-overflow">
										<span>
											<a href="assets/images/placeholder.jpg" class="btn bg-success-400 btn-icon btn-xs"
                         data-popup="lightbox"><i class="icon-plus2"></i></a>
											<a class="btn bg-success-400 btn-icon btn-xs"><i
                        class="icon-link"></i></a>
										</span>
        </div>
      </div>

      <div class="caption text-center">
        <h6 class="text-semibold no-margin">Eveniment 3 Martie 2017
          <small class="display-block">Piata Unirii</small>
        </h6>
        <ul class="icons-list mt-15">
          <li><a href="#" data-popup="tooltip" title="Facebook" data-container="body"><i class="icon-facebook2"></i></a>
          </li>
          <li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a>
          </li>
          <li><a href="#" data-popup="tooltip" title="Instagram" data-container="body"><i
            class="icon-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="thumbnail no-padding">
      <div class="thumb">
        <img src="assets/images/events/event1.jpg" alt="">
        <div class="caption-overflow">
										<span>
											<a href="assets/images/placeholder.jpg" class="btn bg-success-400 btn-icon btn-xs"
                         data-popup="lightbox"><i class="icon-plus2"></i></a>
											<a class="btn bg-success-400 btn-icon btn-xs"><i
                        class="icon-link"></i></a>
										</span>
        </div>
      </div>

      <div class="caption text-center">
        <h6 class="text-semibold no-margin">Eveniment 3 Martie 2017
          <small class="display-block">Piata Unirii</small>
        </h6>
        <ul class="icons-list mt-15">
          <li><a href="#" data-popup="tooltip" title="Facebook" data-container="body"><i class="icon-facebook2"></i></a>
          </li>
          <li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a>
          </li>
          <li><a href="#" data-popup="tooltip" title="Instagram" data-container="body"><i
            class="icon-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="thumbnail no-padding">
      <div class="thumb">
        <img src="assets/images/events/event1.jpg" alt="">
        <div class="caption-overflow">
										<span>
											<a href="assets/images/placeholder.jpg" class="btn bg-success-400 btn-icon btn-xs"
                         data-popup="lightbox"><i class="icon-plus2"></i></a>
											<a  class="btn bg-success-400 btn-icon btn-xs"><i
                        class="icon-link"></i></a>
										</span>
        </div>
      </div>

      <div class="caption text-center">
        <h6 class="text-semibold no-margin">Eveniment 3 Martie 2017
          <small class="display-block">Piata Unirii</small>
        </h6>
        <ul class="icons-list mt-15">
          <li><a href="#" data-popup="tooltip" title="Facebook" data-container="body"><i class="icon-facebook2"></i></a>
          </li>
          <li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a>
          </li>
          <li><a href="#" data-popup="tooltip" title="Instagram" data-container="body"><i
            class="icon-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="thumbnail no-padding">
      <div class="thumb">
        <img src="assets/images/events/event1.jpg" alt="">
        <div class="caption-overflow">
										<span>
											<a href="assets/images/placeholder.jpg" class="btn bg-success-400 btn-icon btn-xs"
                         data-popup="lightbox"><i class="icon-plus2"></i></a>
											<a class="btn bg-success-400 btn-icon btn-xs"><i
                        class="icon-link"></i></a>
										</span>
        </div>
      </div>

      <div class="caption text-center">
        <h6 class="text-semibold no-margin">Eveniment 3 Martie 2017
          <small class="display-block">Piata Unirii</small>
        </h6>
        <ul class="icons-list mt-15">
          <li><a href="#" data-popup="tooltip" title="Facebook" data-container="body"><i class="icon-facebook2"></i></a>
          </li>
          <li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a>
          </li>
          <li><a href="#" data-popup="tooltip" title="Instagram" data-container="body"><i
            class="icon-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="thumbnail no-padding">
      <div class="thumb">
        <img src="assets/images/events/event1.jpg" alt="">
        <div class="caption-overflow">
										<span>
											<a href="assets/images/placeholder.jpg" class="btn bg-success-400 btn-icon btn-xs"
                         data-popup="lightbox"><i class="icon-plus2"></i></a>
											<a class="btn bg-success-400 btn-icon btn-xs"><i
                        class="icon-link"></i></a>
										</span>
        </div>
      </div>

      <div class="caption text-center">
        <h6 class="text-semibold no-margin">Eveniment 3 Martie 2017
          <small class="display-block">Piata Unirii</small>
        </h6>
        <ul class="icons-list mt-15">
          <li><a href="#" data-popup="tooltip" title="Facebook" data-container="body"><i class="icon-facebook2"></i></a>
          </li>
          <li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a>
          </li>
          <li><a href="#" data-popup="tooltip" title="Instagram" data-container="body"><i
            class="icon-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="thumbnail no-padding">
      <div class="thumb">
        <img src="assets/images/events/event1.jpg" alt="">
        <div class="caption-overflow">
										<span>
											<a href="assets/images/placeholder.jpg" class="btn bg-success-400 btn-icon btn-xs"
                         data-popup="lightbox"><i class="icon-plus2"></i></a>
											<a class="btn bg-success-400 btn-icon btn-xs"><i
                        class="icon-link"></i></a>
										</span>
        </div>
      </div>

      <div class="caption text-center">
        <h6 class="text-semibold no-margin">Eveniment 3 Martie 2017
          <small class="display-block">Piata Unirii</small>
        </h6>
        <ul class="icons-list mt-15">
          <li><a href="#" data-popup="tooltip" title="Facebook" data-container="body"><i class="icon-facebook2"></i></a>
          </li>
          <li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a>
          </li>
          <li><a href="#" data-popup="tooltip" title="Instagram" data-container="body"><i
            class="icon-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="thumbnail no-padding">
      <div class="thumb">
        <img src="assets/images/events/event1.jpg" alt="">
        <div class="caption-overflow">
										<span>
											<a href="assets/images/placeholder.jpg" class="btn bg-success-400 btn-icon btn-xs"
                         data-popup="lightbox"><i class="icon-plus2"></i></a>
											<a class="btn bg-success-400 btn-icon btn-xs"><i
                        class="icon-link"></i></a>
										</span>
        </div>
      </div>

      <div class="caption text-center">
        <h6 class="text-semibold no-margin">Eveniment 3 Martie 2017
          <small class="display-block">Piata Unirii</small>
        </h6>
        <ul class="icons-list mt-15">
          <li><a href="#" data-popup="tooltip" title="Facebook" data-container="body"><i class="icon-facebook2"></i></a>
          </li>
          <li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a>
          </li>
          <li><a href="#" data-popup="tooltip" title="Instagram" data-container="body"><i
            class="icon-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="thumbnail no-padding">
      <div class="thumb">
        <img src="assets/images/events/event1.jpg" alt="">
        <div class="caption-overflow">
										<span>
											<a href="assets/images/placeholder.jpg" class="btn bg-success-400 btn-icon btn-xs"
                         data-popup="lightbox"><i class="icon-plus2"></i></a>
											<a class="btn bg-success-400 btn-icon btn-xs"><i
                        class="icon-link"></i></a>
										</span>
        </div>
      </div>

      <div class="caption text-center">
        <h6 class="text-semibold no-margin">Eveniment 3 Martie 2017
          <small class="display-block">Piata Unirii</small>
        </h6>
        <ul class="icons-list mt-15">
          <li><a href="#" data-popup="tooltip" title="Facebook" data-container="body"><i class="icon-facebook2"></i></a>
          </li>
          <li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a>
          </li>
          <li><a href="#" data-popup="tooltip" title="Instagram" data-container="body"><i
            class="icon-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
