.home-page {
  background-color: lightgrey !important;
  width: 100%;
  background-repeat: repeat;
  padding-bottom: 60px;
  background-image: url("../../../../../assets/images/pattern-light.png") !important;
  height: auto;
}

.aligned-text {
  text-align: center;
}

.highlight {
  color: white;
  font-weight: 600;
  font-size: 30px;
}

.home-image {
  width: 88%;
}

.home {
  padding: 0 !important;
  height: auto;
}

.grid:hover i {
  transform: rotate(360deg);
  transition: all 0.3s;
}

.left-side {
  float: left;
}

.home-text {
  color: white;
}

.header-text {
  font-size: 3em;
  font-weight: bold;
  color: white;
}

.home-top {
  background-image: url("../../../../../assets/images/backgrounds/bghome.png");
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  z-index: 999;
  opacity: 1;
  height: 100vh;
  background-size: cover;
}

.vertical-align {
  display: table;
  position: relative;
  height: 100%;
  margin: 0 auto;
}

.heading-title-big {
  font-size: 9.6875rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #37474F;
  letter-spacing: 5px;
  line-height: initial;
  border: 1px solid;
  margin-bottom: 15px;
  background-color: #d3d3d373;
}

.description-slide {
  margin-top: 20px;
  color: #fff;
  font-size: 2.9375rem;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #37474F;
}

.description-slide span {
  color: #c69c6d;
}

.heading-title-big span {
  color: #c69c6d;
}

.vertical-align .container {
  display: table-cell;
  vertical-align: middle;
}

.grid {
  color: #fff;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.grid i {
  font-size: 12.0625rem;
  color: #fff;
}

.grid:nth-of-type(even) {
  background-color: #37474F;
}

.grid:nth-of-type(even):hover {
  background-color: #617e89;
}

.grid:nth-of-type(odd) {
  background-color: rgba(17, 17, 17, 0.9);
}

.grid:nth-of-type(odd):hover {
  background-color: rgba(17, 17, 17, 0.74);
}

.grid h4 {
  font-size: 2.125rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.grid p {
  font-size: 1.875rem;
  color: #fff;
}

.canvas-background {
  position: absolute;
  width: 100%;
  z-index: 2;
  height: 100%;
  top: 0;
  left: 0;
}

.heading-title {
  margin-bottom: 70px;
}


.center {
  text-align: center;
}

.heading-title h2 {
  color: #424242;
  font-size: 4em;
  text-transform: uppercase;
  line-height: inherit;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.heading-title h2 span {
  color: #c69c6d;
}

.heading-title p {
  font-size: 1.5em;
  color: #585858;
  margin-bottom: 0;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

section, .section {
  padding-top: 85px;
  padding-bottom: 85px;
}

.section-choose-us {
  background-color: white;
}

.item-choose {
  position: relative;
  margin-bottom: 50px;
}

.item-about .icon {
  display: inline-block;
  padding-right: 10px;
  float: left;
}

.item-about .icon .bg-icon {
  position: absolute;
  top: -60px;
  left: 50px;
}

.item-about .icon .bg-icon i {
  font-size: 152px;
  opacity: 0.05;
}

.item-about .icon i {
  font-size: 73px;
  color: #555;
}

.item-about .content {
  padding-left: 20px;
  overflow: hidden;
}

.item-choose .content h3 {
  letter-spacing: 0.2px;
  margin-top: 0;
}
.item-about .content h3 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #555;
  margin-bottom: 0;
}

.item-about .content p {
  margin-top: 8px;
  font-size: 14px;
  line-height: 22px;
  color: #606060;
}

.bg-dark-section:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0.5;
}


.bg-dark-section {
  position: relative;
}
.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../../../../assets/images/backgrounds/bgsteps.jpg");
}

.section-work-progress .heading-title {
  margin-bottom: 0;
}
.text-left, .text-left.small-heading {
  text-align: left;
}

.bg-dark-section .heading-title h2 {
  color: #fff;
}

.heading-title h2 {
  color: #424242;
  font-size: 41px;
  text-transform: uppercase;
  line-height: inherit;
  margin-top: 0;
  margin-bottom: 0;
}

.small-heading h2 {
  font-size: 27px;
  letter-spacing: 1px;
}

.text-left h2:after, .text-left.small-heading h2:after {
  margin: 13px 0 18px;
}
.small-heading h2:after {
  content: "";
  display: block;
  height: 2px;
  width: 55px;
  background-color: #c69c6d;
  margin: 0 auto;
  margin-top: 13px;
  margin-bottom: 18px;
}

.icon-progress {
  text-align: center;
  background-color: #0000007a;
  padding: 17px;
  border-radius: 30px;
}

.bg-dark-section .icon-progress i {
  color: #fff;
}
.icon-progress i {
  font-size: 65px;
  line-height: 65px !important;
}

.icon-progress p {
  font-size: 1em;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
.bg-dark-section p {
  color: #eee;
}
p {
  margin-top: 20px;
  margin-bottom: 0;
}

.bg-dark-section .heading-title h2 {
  color: #39464f;
}
