<!--<div class="page-header page-header-default">-->
<!--<div class="page-header-content">-->
<!--<div class="page-title">-->
<!--<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span>-->
<!--&lt;!&ndash; - Dynamic Trees&ndash;&gt;-->
<!--</h4>-->
<!--</div>-->

<!--<div class="heading-elements">-->
<!--<div class="heading-btn-group">-->
<!--<a href="#" class="btn btn-link btn-float has-text"><i-->
<!--class="icon-bars-alt text-primary"></i><span>Statistics</span></a>-->
<!--<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i>-->
<!--<span>Invoices</span></a>-->
<!--<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i>-->
<!--<span>Schedule</span></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="breadcrumb-line">-->
<!--<ul class="breadcrumb">-->
<!--<li><a href="#"><i class="icon-home2 position-left"></i> Home</a></li>-->
<!--&lt;!&ndash;<li><a href="extra_trees.html">Extras</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li class="active">Dynamic trees</li>&ndash;&gt;-->
<!--</ul>-->

<!--<ul class="breadcrumb-elements">-->
<!--<li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>-->
<!--<li class="dropdown">-->
<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
<!--<i class="icon-gear position-left"></i>-->
<!--Settings-->
<!--<span class="caret"></span>-->
<!--</a>-->

<!--<ul class="dropdown-menu dropdown-menu-right">-->
<!--<li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>-->
<!--<li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>-->
<!--<li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>-->
<!--<li class="divider"></li>-->
<!--<li><a href="#"><i class="icon-gear"></i> All settings</a></li>-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; /page header &ndash;&gt;-->


<!--&lt;!&ndash; Content area &ndash;&gt;-->
<!--<div class="content">-->

<!--&lt;!&ndash; Initialization options &ndash;&gt;-->
<!--<div class="row bg-white text-center">-->
<!--<div class="col-sm-6">-->
<!--<i class="icon-cloud icon-big"></i>-->
<!--</div>-->
<!--</div>-->


<!--</div>-->

<div class="home-top">
  <div class="container-slide vertical-align aligned-text head-desc">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="heading-title-big">Event <span>ME</span></div>
          <div class="description-slide">
            Experience, Innovation, Quality, <span>Performance</span></div>
        </div>
      </div>
    </div>
  </div>
  <div id="particles-js" class="canvas-background"></div>
</div>

<div class="row" id="info-columns">
  <div class="col-sm-3 grid">
    <i class="icon-cloud"></i>
    <h4>CLOUD APPLICATION</h4>
    <p>Self assisted app</p>
  </div>

  <div class="col-sm-3 grid">
    <i class="icon-briefcase"></i>
    <h4>IMPROVE</h4>
    <p>Boost your events</p>
  </div>

  <div class="col-sm-3 grid">
    <i class="icon-pie-chart"></i>
    <h4>STATISTICS</h4>
    <p>Everything you need</p>
  </div>

  <div class="col-sm-3 grid">
    <i class="icon-people"></i>
    <h4>TRAFFIC</h4>
    <p>Guaranteed traffic</p>
  </div>
</div>

<section class="section-choose-us">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-push-2">
        <div class="heading-title center">
          <h2 style="opacity: 1;" class="animated fadeInDown">De ce <span>noi ?</span></h2>
          <p style="opacity: 1;" class="animated fadeInUp">Calitate garantata. Suntem gata sa satisfacem toate cerintele si nevoile clientilor nostri in ceea ce priveste calitatea si serviciilor livrate.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="item-about item-choose">
          <div class="icon"><i class="icon-cloud"></i>
            <div class="bg-icon"><i class="icon-cloud"></i></div>
          </div>
          <div class="content">
            <h3>Integritate</h3>
            <p>Suntem onesti, deschisi si intotdeauna facem lucrurile asa cum trebuie. Ne pastram obiectivitatea in orice interactiune. Ne tinem de cuvant si reactionam fata de comportamente lipsite de etica si profesionalism. Nu spunem despre colegii nostri lucruri pe care nu le-am spune si de fata cu ei.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item-about item-choose">
          <div class="icon"><i class="pe-7s-graph1"></i>
            <div class="bg-icon"><i class="pe-7s-graph1"></i></div>
          </div>
          <div class="content">
            <h3>Invatare</h3>
            <p>Suntem dornici sa aflam lucruri noi si invatam repede. Ne recunoastem greselile si invatam din experientele noastre. Facem schimb de cunostinte, bune practici si inovam. Ramanem deschisi la schimbare si o adoptam intr-un mod care incurajeaza colaborarea si capacitatea de adaptare.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item-about item-choose">
          <div class="icon"><i class="pe-7s-help2"></i>
            <div class="bg-icon"><i class="pe-7s-help2"></i></div>
          </div>
          <div class="content">
            <h3>Pasiune</h3>
            <p>Ne place ceea ce facem si suntem dornici sa ne ajutam clientii sa reuseasca. Suntem o sursa de inspiratie pentru ceilalti. Ne depasim limitele. Suntem mandri sa lucram la PremierSOFT, inconjurati de oameni care gandesc la fel ca noi si le inspiram celor din jur sentimentul de pasiune si implicare.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="item-about item-choose">
          <div class="icon"><i class="pe-7s-like"></i>
            <div class="bg-icon"><i class="pe-7s-like"></i></div>
          </div>
          <div class="content">
            <h3>Respect</h3>
            <p>Ne respectam unii pe altii, ne recunoastem capacitatea, valoarea si faptul ca putem influenta lucrurile in bine. Ii tratam pe ceilalti asa cum ne dorim ca ceilalti sa ne trateze pe noi. Ii acceptam pe cei care sunt diferiti de noi, dar au un caracter bun (simt inalt al moralitatii, integritate etc.). Apreciem diversitatea de idei, opinii si experiente.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item-about item-choose">
          <div class="icon"><i class="pe-7s-display1"></i>
            <div class="bg-icon"><i class="pe-7s-display1"></i></div>
          </div>
          <div class="content">
            <h3>Discernamant</h3>
            <p>Ne straduim sa avem mai putine reguli, mai multe principii si sa fim rezonabili. Evaluam situatiile in mod obiectiv si mergem la sursa problemei. Suntem capabili sa luam decizii chiar si cand situatia pare neclara. Aplicam regula bunului simt mai presus de orice. Avem curajul sa schimbam directia atunci cand situatia o cere si mergem la sursa problemei.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item-about item-choose">
          <div class="icon"><i class="pe-7s-link"></i>
            <div class="bg-icon"><i class="pe-7s-link"></i></div>
          </div>
          <div class="content">
            <h3>Simplitate</h3>
            <p>In relatia cu clientii, avem in vedere simplitatea si confortul. Suntem foarte atenti la modul in care ne executam sarcinile. Incercam in mod constant sa reducem complexitatea si sa simplificam lucrurile. Lucram eficient si nu irosim resurse.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

