<!--<div class="page-header page-header-default">-->
<!--<div class="page-header-content">-->
<!--<div class="page-title">-->
<!--<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span>-->
<!--&lt;!&ndash; - Dynamic Trees&ndash;&gt;-->
<!--</h4>-->
<!--</div>-->

<!--<div class="heading-elements">-->
<!--<div class="heading-btn-group">-->
<!--<a href="#" class="btn btn-link btn-float has-text"><i-->
<!--class="icon-bars-alt text-primary"></i><span>Statistics</span></a>-->
<!--<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i>-->
<!--<span>Invoices</span></a>-->
<!--<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i>-->
<!--<span>Schedule</span></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="breadcrumb-line">-->
<!--<ul class="breadcrumb">-->
<!--<li><a href="#"><i class="icon-home2 position-left"></i> Home</a></li>-->
<!--&lt;!&ndash;<li><a href="extra_trees.html">Extras</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li class="active">Dynamic trees</li>&ndash;&gt;-->
<!--</ul>-->

<!--<ul class="breadcrumb-elements">-->
<!--<li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>-->
<!--<li class="dropdown">-->
<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
<!--<i class="icon-gear position-left"></i>-->
<!--Settings-->
<!--<span class="caret"></span>-->
<!--</a>-->

<!--<ul class="dropdown-menu dropdown-menu-right">-->
<!--<li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>-->
<!--<li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>-->
<!--<li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>-->
<!--<li class="divider"></li>-->
<!--<li><a href="#"><i class="icon-gear"></i> All settings</a></li>-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; /page header &ndash;&gt;-->


<!--&lt;!&ndash; Content area &ndash;&gt;-->
<!--<div class="content">-->

<!--&lt;!&ndash; Initialization options &ndash;&gt;-->
<!--<div class="row bg-white text-center">-->
<!--<div class="col-sm-6">-->
<!--<i class="icon-cloud icon-big"></i>-->
<!--</div>-->
<!--</div>-->


<!--</div>-->

<div class="home-top">
  <div class="container-slide vertical-align aligned-text head-desc">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="heading-title-big">Event <span>ME</span></div>
          <div class="description-slide">
            Experience, Innovation, Quality, <span>Performance</span></div>
        </div>
      </div>
    </div>
  </div>
  <div id="particles-js" class="canvas-background"></div>
</div>

<div class="row" id="info-columns">
  <div class="col-sm-3 grid">
    <i class="icon-cloud"></i>
    <h4>CLOUD APPLICATION</h4>
    <p>Self assisted app</p>
  </div>

  <div class="col-sm-3 grid">
    <i class="icon-briefcase"></i>
    <h4>IMPROVE</h4>
    <p>Boost your events</p>
  </div>

  <div class="col-sm-3 grid">
    <i class="icon-pie-chart"></i>
    <h4>STATISTICS</h4>
    <p>Everything you need</p>
  </div>

  <div class="col-sm-3 grid">
    <i class="icon-people"></i>
    <h4>TRAFFIC</h4>
    <p>Guaranteed traffic</p>
  </div>
</div>

<section class="section-choose-us">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-push-2">
        <div class="heading-title center">
          <h2 style="opacity: 1;" class="animated fadeInDown">Why <span>us?</span></h2>
          <p style="opacity: 1;" class="animated fadeInUp">Quality guaranteed. We are ready to satisfy all the requests
            and needs from our clients when it comes to quality and providing the best services.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="item-about item-choose">
          <div class="icon"><i class="icon-cloud"></i>
            <div class="bg-icon"><i class="icon-cloud"></i></div>
          </div>
          <div class="content">
            <h3>Self Service</h3>
            <p>Our business can use the cloud to obtain, configure and deploy apps without any IT heavy lifting. Many
              cloud vendors provide templates to front-load most of the configuration work your IT team would otherwise
              have to create.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item-about item-choose">
          <div class="icon"><i class="icon-filter4"></i>
            <div class="bg-icon"><i class="icon-filter4"></i></div>
          </div>
          <div class="content">
            <h3>Resource pooling</h3>
            <p>The cloud gives you the ability to centralise your IT resources while spreading use across all available
              servers. The cloud maximises the shared computing power to efficiently distribute capacity as needed. You
              will hear the IT folks talk about this in terms like multitenancy, peak-load capacity, and utilisation
              efficiency. </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item-about item-choose">
          <div class="icon"><i class="icon-share2"></i>
            <div class="bg-icon"><i class="icon-share2"></i></div>
          </div>
          <div class="content">
            <h3>Virtualisation</h3>
            <p>Virtualisation is an important facet of the cloud. By creating a virtual, rather than physical, version
              of your application topologies you can move those topologies at will across clouds and between your data
              centre and the cloud.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="item-about item-choose">
          <div class="icon"><i class="icon-accessibility"></i>
            <div class="bg-icon"><i class="icon-accessibility"></i></div>
          </div>
          <div class="content">
            <h3>Accessibility</h3>
            <p>The cloud allows your business to launch applications across platforms - from laptops to Android phones
              to Apple TV - making your resources more accessible and also more reliable. If the office network goes
              down, data are backed up to the cloud and still available on a tablet, for example.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item-about item-choose">
          <div class="icon"><i class="icon-tree7"></i>
            <div class="bg-icon"><i class="icon-tree7"></i></div>
          </div>
          <div class="content">
            <h3>Scalability</h3>
            <p>The cloud’s ability to scale up or down means your company doesn’t have to hoard data or computing
              capacity for the rare instances where demand spikes. On-demand scalability is sometimes better expressed
              as elasticity. </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item-about item-choose">
          <div class="icon"><i class="icon-clipboard2"></i>
            <div class="bg-icon"><i class="icon-clipboard2"></i></div>
          </div>
          <div class="content">
            <h3>Simplity</h3>
            <p>To prove the cloud’s value to your business, executives must first appreciate the cloud features that can
              boost the enterprise’s efficiency beyond the IT department. As an executive, it’s your job to lead your
              team in the right direction, so they can capture the real savings and potential of cloud computing. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-work-progress background-image bg-dark-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="heading-title small-heading text-left">
          <h2 class="animated fadeInDown" style="opacity: 1;">SHARE <span>YOUR EVENTS</span></h2>
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="icon-progress"><i class="icon-user-plus"></i>
          <p>1. REGISTER</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="icon-progress"><i class="icon-rocket"></i>
          <p>2. SUBMIT</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="icon-progress"><i class="icon-earth"></i>
          <p>3. WORLDWIDE</p>
        </div>
      </div>
    </div>
  </div>
</section>
